h1{
    color:blueviolet;
    font-size: 14pt;
}
p{
    color:greenyellow;
    font-size: 25pt;
}
/* le doy estilo a los p dentro de un DIV ID*/
#Idunico > p
{
    color: red;
    font-size: 54pt ;
}
/* le doy estilo a los p dentro de una Div Clas */
.Clase > p
{
    color: blue;
    font-size: 22pt;
}
